<h1>Hiiiiii <%= user.name %></h1>

<form action="/user/me">
    <input type="submit" value="My Profile" />
</form>
  
  <form action="/task/me">
    <input type="submit" value="My Tasks" />
</form>
 
    
<%- include('_footer') %>